---
const { link } = Astro.props;
---

<header class="hero">
  <div class="hero__content">
    <h2 class="hero__headline">
      <span class="hero__animated color-highlight">Developer,</span>
      <span class="hero__animated color-highlight">Designer,</span>
      <span class="hero__animated color-highlight">Educator.</span>
    </h2>
    <p class="hero__byline">
      My name is Adam, I am a web developer, designer, and educator. I am
      incredibly passionate and experienced in all stages of the web development
      process. From research and user experience to project management through
      development and deployment, I am able to bring expertise and guidance to
      any project.
    </p>
  </div>
  <div class="hero__footer">
    <div class="divider"></div>
    <a class="hero__link" href={link}>View my work</a>
    <div class="divider"></div>
  </div>
</header>

<style>
  @import "./hero.css";
</style>

<script>
  import "./hero";
</script>
