html {
  font-size: clamp(1rem, 2.2vw, 1.2rem);
}

h1 {
  font-size: var(--type-scale-h1);
}

h2 {
  font-size: var(--type-scale-h2);
}

h3 {
  font-size: var(--type-scale-h3);
}

h4 {
  font-size: var(--type-scale-h4);
}

h5 {
  font-size: var(--type-scale-h5);
}

h6 {
  font-size: var(--type-scale-h6);
}

.bold {
  font-weight: bold;
}

.color-highlight {
  color: var(--color-highlight, var(--color-green));
}

.color-highlight-hov {
  transition: color var(--transition);
}

.color-highlight-hov:where(:hover, :focus-visible) {
  color: var(--color-highlight, var(--color-green));
}
