<a href="#top" class="to-top" aria-label="Click to return to top of page">
  <i>
    <svg>
      <use xlink:href="/images/icons.svg#arrow-up"></use>
    </svg>
  </i>
</a>

<style>
  @import "./to-top.css";
</style>

<script>
  import "./to-top";
</script>
