---
import {
  applyClasses,
  applyClassesConditional,
} from "../../../scripts/helpers";

const { section } = Astro.props;

const { title, content, img, classes } = section;

const longContent = content.length > 500;

const sectionClasses = ["section", "split-content"];
---

<section class={applyClasses(sectionClasses, classes)}>
  {
    img && (
      <div class="section__img">
        <img src={img.src} alt={img.alt} />
      </div>
    )
  }
  <div class="section__content">
    <h2 class="section__title">{title}</h2>
    {
      content && (
        <p
          class={applyClassesConditional(
            "section__text",
            "section__text--long",
            longContent,
          )}
        >
          {content}
        </p>
      )
    }
  </div>
</section>

<style>
  @import "./split-content.css";
</style>
