---
import CallOut from "../sections/CallOut/CallOut.astro";
import InfoCards from "../sections/InfoCards/InfoCards.astro";
import SplitContent from "../sections/SplitContent/SplitContent.astro";
import TechnologiesCards from "../sections/TechnologiesCards/TechnologiesCards.astro";

const { sections } = Astro.props;
---

{
  sections.map((section) => {
    switch (section.type) {
      case "call-out":
        return <CallOut section={section} />;
      case "info-cards":
        return <InfoCards section={section} />;
      case "split-content":
        return <SplitContent section={section} />;
      case "technologies-cards":
        return <TechnologiesCards section={section} />;
      default:
        return <section>Cool Section!</section>;
    }
  })
}
