---
import { applyClassesConditional } from "../../scripts/helpers";
import Divider from "../Divider/Divider.astro";

interface Props {
  title: string;
  byline?: string;
  short?: boolean;
  smallTitle?: boolean;
}

const { title, byline, short, smallTitle } = Astro.props;
---

<header
  class={applyClassesConditional("page-header", "page-header--short", short)}
>
  <div class="page-header__aligner">
    <div
      class={applyClassesConditional(
        "page-header__title-wrap",
        "page-header__title-wrap--flex",
        !byline,
      )}
    >
      <h1
        class={applyClassesConditional(
          "page-header__title",
          "page-header__title--small",
          smallTitle,
        )}
      >
        {title}
      </h1>
      <Divider disableAnimation />
    </div>
    {byline && <p class="page-header__byline">{byline}</p>}
  </div>
</header>

<style>
  @import "./page-header.css";
</style>

<script>
  import "./page-header";
</script>
