---
const { title } = Astro.props;
---

<header class="page-header">
  <h1 class="page-header__title">{title}</h1>
  <div class="divider"></div>
</header>

<style>
  @import './page-header.css';
</style>
