.icon {
  display: inline-flex;
  align-items: center;
  gap: 0.75em;
  transition:
    color var(--transition),
    gap var(--transition);
  color: var(--color, var(--color-text));

  text-decoration: none;
  font-size: var(--fontSize, 1em);

  &:where(:hover, :focus-visible) {
    color: var(--hover, var(--color-highlight, var(--color-green)));
  }

  i {
    width: var(--size, 3rem);
    display: inline-block;
  }

  svg {
    aspect-ratio: var(--ratio, 1);
  }
}

.icon--hover-shift:where(:hover, :focus-visible) {
  gap: 1.5em;
}

.icon--hover-expand::before {
  content: " ";
  position: absolute;
  inset: 0;
}
