---
import { getCollection } from "astro:content";
import PageHeader from "../components/PageHeader/PageHeader.astro";
import ResumeItem from "../components/ResumeItem/ResumeItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { objectSorter } from "../scripts/helpers";

const experience = await getCollection("experience");

const work = experience
  .filter((ex) => ex.data.type === "work")
  .sort((a, b) => objectSorter(a.data.order, b.data.order));
const education = experience
  .filter((ex) => ex.data.type === "education")
  .sort((a, b) => objectSorter(a.data.order, b.data.order));
---

<BaseLayout pageTitle="Resume">
  <PageHeader title="Resume" short />

  <section class="resume-group">
    <h2>Work</h2>
    {work.map((w) => <ResumeItem data={w} />)}
  </section>

  <section class="resume-group">
    <h2>Education</h2>
    {
      education.map((ed, i) => (
        <ResumeItem data={ed} noDivider={i === education.length - 1} />
      ))
    }
  </section>
</BaseLayout>

<style>
  @import "../styles/resume.css";
</style>
