---
const { link, icon, label, size } = Astro.props;

const IconTag = link ? 'a' : 'span';
---

<IconTag class="icon" href={link}>
  <i>
    <svg>
      <use xlink:href={`/images/icons.svg#${icon}`}></use>
    </svg>
  </i>
  <span class="srt">{label}</span>
</IconTag>

<style define:vars={{ size }}>
  .icon {
    width: var(--size, 3rem);
  }

  svg {
    aspect-ratio: 1;
  }
</style>
