---
import { combineClasses } from '../../scripts/helpers';
import Icon from '../Icon/Icon.astro';

const { extraClasses } = Astro.props;

const classes = ['socials', ...extraClasses];

const socials = [
  {
    link: 'https://github.com/arobillard',
    label: 'GitHub',
    icon: 'github',
  },
  {
    link: 'https://www.linkedin.com/in/adam-robillard/',
    label: 'LinkedIn',
    icon: 'linkedin',
  },
  {
    link: 'mailto:hello@adamrobillard.ca',
    label: 'Email',
    icon: 'email',
  },
];
---

<ul class={combineClasses(classes)}>
  {
    socials.map((social) => (
      <li class="socials__item">
        <Icon icon={social.icon} link={social.link} label={social.label} />
      </li>
    ))
  }
</ul>

<style>
  @import './socials.css';
</style>
