.resume-item {
  padding-block: 3rem;
  grid-column: 1 / -1;
}

.resume-item__heading {
  font-size: var(--type-scale-h4);
  margin-block-end: 0.5rem;
  color: var(--color-highlight);
}

.resume-item__details {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

a.resume-item__institution {
  color: var(--color-highlight);
  text-decoration: none;
  transition: all var(--transition);

  &:where(:hover, :focus-visible) {
    opacity: 0.75;
  }
}

.resume-item__description {
  margin-block: 1.5rem 0;
  width: min(100%, 45rem);
}

.resume-item--condensed {
  padding-block: 1.5rem;

  .resume-item__heading {
    font-size: var(--type-scale-h5);
    margin-block-end: 0.25rem;
  }
}
