---
import './toggle.css';

import { combineClasses } from '../../scripts/helpers';
const { target, desktop } = Astro.props;

const classList = ['toggle'];

if (desktop) classList.push('toggle--desktop');
---

<button
  class={combineClasses(classList)}
  aria-expanded="false"
  aria-controls={target}
  aria-label="Click to open mobile navigation"
>
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</button>

<script>
  import './toggle';
</script>
