---
import "../styles/main.css";
import "../styles/type.css";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
import ScreenSizeDisplay from "../components/ScreenSizeDisplay/ScreenSizeDisplay.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle && `${pageTitle} | `} Adam Robillard</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="--color-highlight: hsl(95, 38%, 62%);">
    <ol class="skip-links">
      <li>
        <a class="skip-links__link" href="#nav">Skip to site navigation</a>
      </li>
      <li>
        <a class="skip-links__link" href="#main">Skip to main content</a>
      </li>
    </ol>

    <div class="grid-layout">
      <Navbar />

      <main id="main" class="main">
        <slot />
      </main>

      <Footer />
    </div>

    <a href="#top" class="to-top">
      <i class="material-symbols-outlined">arrow_up</i>
      <span class="srt">Return to top of the page</span>
    </a>

    {import.meta.env.DEV && <ScreenSizeDisplay />}

    <script>
      import "../scripts/highlight-color";
    </script>
  </body>
</html>
