---
import Icon from "../Icon/Icon.astro";

const { id } = Astro.props;
---

<section id={id || "about"} class="about-me">
  <div class="about-me__img">
    <picture>
      <source
        srcset="/images/headshot-tall-light-bg.jpg"
        media="(min-width: 65rem) and (prefers-color-scheme: light)"
      />
      <source
        srcset="/images/headshot-tall-dark-bg.jpg"
        media="(min-width: 65rem)"
      />
      <source
        srcset="/images/headshot-sq-light-bg.jpg"
        media="(prefers-color-scheme: light)"
      />
      <img src="/images/headshot-sq-dark-bg.jpg" alt="Adam Robillard" />
    </picture>
  </div>
  <div class="about-me__content">
    <h2 class="scroll-item">Get to Know Me</h2>
    <p class="scroll-item">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu tristique
      volutpat porttitor vitae ultricies, mus velit. Consectetur sit magna proin
      velit diam vitae. Sit lobortis primis pharetra nullam dolor lorem gravida
      volutpat. Efficitur fringilla imperdiet mi faucibus curabitur maximus
      tincidunt leo. Montes fringilla dis consectetur molestie; pulvinar ipsum
      maximus etiam. Vehicula integer porta; fames enim auctor diam curabitur
      ullamcorper.
    </p>

    <p class="scroll-item scroll-item--grouped">
      Pellentesque erat aenean platea; phasellus morbi placerat hac inceptos.
      Suscipit parturient eros aptent risus habitant neque ornare. Augue varius
      nullam cras magna ultrices facilisis. Iaculis sagittis vestibulum
      efficitur vel sagittis non. Fames varius tellus tempus est accumsan mauris
      ornare consectetur. Nulla convallis congue augue pharetra odio dolor orci
      kivluck sit molan.
    </p>

    <h3 class="about-me__reach-out scroll-item">Feel free to reach out:</h3>
    <Icon
      icon="email"
      class="scroll-item scroll-item--grouped"
      size="1.5em"
      label="hello@adamrobillard.ca"
      link="mailto:hello@adamrobillard.ca"
      labelPos="right"
      fontSize="var(--type-scale-h6)"
    />
  </div>
</section>

<style>
  @import "./about-me.css";
</style>

<script>
  import "./about-me.js";
</script>
