---
import Icon from "../Icon/Icon.astro";

const { id } = Astro.props;
---

<section id={id || "about"} class="about-me" tabindex="0">
  <div class="about-me__img">
    <picture>
      <source
        srcset="/images/headshot-tall-dark-bg.jpg"
        media="(min-width: 65rem)"
      />
      <img src="/images/headshot-sq-dark-bg.jpg" alt="Adam Robillard" />
    </picture>
  </div>
  <div class="about-me__content">
    <h2 class="scroll-item">Get to Know Me</h2>
    <p class="scroll-item">
      I've been working as a web developer, designer, and educator for over 6
      years. I have experience working in every step of the web process
      including project management, user research, content structure/planning,
      design, development, deployment, and maintenance. I am passionate about
      the entire web process and my broad background allows me to bring
      knowledge to multiple aspects of the process and helps me to provide the
      perspective needed to insure all areas of a project work seamlessly
      together.
    </p>

    <p class="scroll-item">
      When not working or teaching, I usually can be found developing web
      projects just for myself. I find that one of the best ways to learn and
      improve is to experiment with new ideas and technologies. The projects
      found in this portfolio contain both work projects and passion projects.
      If you are interested in any of the work I have done and want to connect
      to work together, I would love to connect!
    </p>

    <!-- <h3 class="about-me__reach-out scroll-item">Feel free to reach out:</h3> -->
    <Icon
      icon="email"
      class="scroll-item"
      size="1.5em"
      label="hello@adamrobillard.ca"
      link="mailto:hello@adamrobillard.ca"
      labelPos="right"
      fontSize="var(--type-scale-h6)"
    />
  </div>
</section>

<style>
  @import "./about-me.css";
</style>

<script>
  import "./about-me.js";
</script>
